* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 15px;
}

.iniciar-sesion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    #iniciar-sesion-form {
        max-width: 350px;
        background-color: darkmagenta;
        display: flex;
        flex-direction: column;
        padding: 1em;
        border: 1px solid #111d;
        border-radius: .5em;
        gap: 1em;
        .titulo {
            font-size: 3em;
        }
        .campos {
            font-size: 1.25em;
            display: flex;
            flex-direction: column;
            gap: .5em;
            .nombre, .password {
                display: flex;
                flex-direction: column;
                gap: .25em;
                input {
                    border: none;
                    padding: .25em;
                    border-radius: .25em;
                    flex-grow: 1;
                }
            }
        }
        button {
            display: block;
            color: white;
            font-weight: bold;
            background-color: #111d;
            padding: 1em;
            border: none;
            border-radius: .25em;
            cursor: pointer;
            position: relative;
        }
        button:focus, button:hover {
            background-color: #111;
        }
    }
}
